.profile {
  max-width: 400px;
  margin: 50px auto 80px;
  border: 2px solid #000;
  border-radius: 8px;
  overflow: hidden;
  font-size: 20px;
}

.profile__wrapper {
  background-color: #ebebeb;
  padding: 20px 0 10px;
}

.profile__wrapper p {
  text-align: center;
}

.profile__image {
  max-width: 150px;
  border-radius: 50%;
  margin: 0 auto 15px;
  background-color: #2c2c2c;
}

.fullname {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 15px;
}

.profile__wrapper p:not(.fullname) {
  color: #555555;
}

.profile ul {
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid #5a5a5a;
  background-color: #cecece;
}

.profile ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0 8px;
  width: calc(400px / 3);
}

.profile ul li:nth-child(2) {
  border-left: 2px solid #5a5a5a;
  border-right: 2px solid #5a5a5a;
}

.profile li span:last-child {
  font-weight: 700;
}
